/* lets do this !!! */

body {
	/* background-image: url("weeknd/wickedgames1.png");
background-repeat: no-repeat;
background-size: 100%; */
height: 100vh;
margin 0 auto;
}
.background {
	
}
.header {
	background-color: black;
	width: 100%;
	height: 5%;

}
.maincontent {
	width: 90vw;
	max-width: 80%;
	display: flex;
	flex-direction: column;
	justify-content:  center;
	margin: 0 auto;
}

.maintext {
	padding-top: 15vh;
	white-space: nowrap;

}
.maintext a {
	text-decoration: none;
}
.maintext span {
	display: inline-block;
	text-decoration: none;
}
.maintext h1 {
	font-family: "Arial Black", sans-serif;
	color: white;
	opacity: 1;
	margin: 0;
	padding: 0;
	font-size: 10vw;
	line-height: 1.2em;
	text-decoration: none;
	display: flex;
	flex-direction: center;
	justify-content: center;
	
}

.maintext h1 span {
	text-decoration: none;
    color: rgba(0,0,0,1);
   /* -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: grey; */
}
.hov-letter:hover, .hov-letter{
	 -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.7) 30%, #000 50%, rgba(0,0,0,.7) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
  	color: crimson;
	/* -webkit-text-stroke-color: white; */

}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}
}


.nav {
	width: 60vw;
	top: 25vh;
	color: white;
	font-family: Arial, sans-serif;
	z-index: 2;
	display: flex;
	justify-content: center;
	margin: auto;
}
.nav:hover, .nav ul {
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.8) 30%, #000 50%, rgba(0,0,0,.8) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}
.nav ul {
	list-style-type: none;
	font-weight: bold;
    margin: 0;
    padding: 0;
    overflow: hidden;
   display: flex;
   flex-direction: row;
   justify-content: center;
}
.nav li {
	float: left;
}
.one a{
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-style: none;
}
.three a{
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-style: none;
}
.nav li a {
	display: block;
	color: white;
	background-color: rgb(0,0,0,1);
	text-align: center;
	padding: 2vh;
	text-decoration: none;
	font-family: Arial, sans-serif;
}
.nav li a:hover {
	background-color: crimson;
	color: white;
}
